<aside class="widget-content">
	{{!-- Publicidad Aside Principal --}}
	<div align="center" class="widget">
	  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	    <ins class="adsbygoogle"
	         style="display:inline-block;width:300px;height:250px"
	         data-ad-client="ca-pub-3311622925293570"
	         data-ad-slot="3180130846"></ins>
	    <script>
	    (adsbygoogle = window.adsbygoogle || []).push({});
	    </script>
	</div>
	<div class="widget animated digital-ocean" id="js_digital_ocean">
		<h3>Digital Ocean - Servidor de Nube SSD</h3>
		<p>
			Implementa fácilmente un servidor de nube SSD en <a href="https://m.do.co/c/b7024306b560" target="_blank">Digital Ocean</a> en tan  solo 55 segundos. Regístrese usando <a href="https://m.do.co/c/b7024306b560" target="_blank">mi enlace</a> y reciba $10 dolares en crédito.
		</p>
		<a href="https://m.do.co/c/b7024306b560" target="_blank">
			<img src="/assets/images/vps_ssd_digital_ocean.png" alt="Digital Ocean" height="300" width="247">
		</a>
	</div>
	<div class="widget ultimos-post">
		<h3>Últimos Artículos</h3>
	</div>
</aside>