<aside class="widget-content">
	<div align="center" class="widget">
	  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	    <!-- Publicidad-Widget-Top -->
	    <ins class="adsbygoogle"
	         style="display:inline-block;width:300px;height:250px"
	         data-ad-client="ca-pub-3311622925293570"
	         data-ad-slot="3180130846"></ins>
	    <script>
	    (adsbygoogle = window.adsbygoogle || []).push({});
	    </script>
	</div>
	<div class="widget">
		<h3>Últimos Tweets</h3>
    <a class="twitter-timeline" href="https://twitter.com/01luisrene" data-tweet-limit="7" data-chrome="noborders  nofooter noheader transparent">Tweets by 01luisrene</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div align="center" class="widget">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- publisher-widget-bottom -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3311622925293570"
         data-ad-slot="9028298448"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</aside>