<section class="front inner">
    <h1 class="author-name">Luis Rene Mas Mas</h1>

    <a class="btn btn-suscribete" href="/subscribe/">Suscribete</a>

    {{#if @blog.description}}
      <blockquote  class="blog-description">
        <p>{{@blog.description}}</p>
      </blockquote >
    {{/if}}
</section>