<section class="front-contenedor flex jcc aicenter">
  <div class="front interior">
  	<h1 class="blog-nombre">{{@blog.title}}</h1>
    {{#if @blog.description}}
      <blockquote  class="blog-description">
        <p>{{@blog.description}}</p>
      </blockquote>
    {{/if}}
    <a class="btn btn-suscribete" href="/subscribe/">Suscribete</a>
    <a class="scroll_top" id="scroll_top" href="#main" data-offset="-94">
      <span class="icon-chevron-down"></span>
    </a>
  </div>
</section>