<script src="{{ asset "js/jquery.magnific-popup.min.js"}}"></script>
<script src="{{ asset "js/highlight.js"}}"></script>
<script>
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  	$('.post_contenido a.image').magnificPopup({
	    type: 'image',
			closeOnContentClick: true,
			mainClass: 'mfp-img-mobile',
	    image: {
	      verticalFit: true,
	      titleSrc: function(item) {
	        return '<a class="mf-link" href="'+item.src+'" target="_blank">Abrir imagen original</a>';
	      }
	    },
	    zoom: {
				enabled: true,
				duration: 300
			}
  	});
  });
</script>
<script src="https://assets.codepen.io/assets/embed/ei.js"></script>