<!DOCTYPE html>
<html>
<head>
    {{> "head"}}
</head>
<body class="{{body_class}}">
    <!--[if lt IE 9]>
    <div class="browser-antiguo">
        <p class="browserupgrade">Está utilizando un navegador <strong>antiguo</strong>. Por favor <a href="http://browsehappy.com/">actualice su navegador</a> para mejorar su experiencia.</p>
    </div>
     <![endif]-->  
     
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The tiny footer at the very bottom --}}
    {{> "footer"}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- The main JavaScript file for 01luisrene --}}
    <script type="text/javascript">
        function descargarJSOnload() {
            var element = document.createElement("script");
            element.src = "//01luisrene.com/assets/js/app.min.js";
            document.body.appendChild(element);
        }
        if (window.addEventListener)
            window.addEventListener("load", descargarJSOnload, false);
        else if (window.attachEvent)
            window.attachEvent("onload", descargarJSOnload);
        else window.onload = descargarJSAonload;
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57004124cf559f51"></script>
    <script id="dsq-count-scr" src="//blog-ghost.disqus.com/count.js" async></script>
    {{#is "post"}}
        {{> "scripstPost"}}
    {{/is}}
</body>
</html>