//==========================================FRONT====================================//
.front-contenedor{
  height: 100%;
  padding-bottom: 70px;
  position: relative;
}
.front{
  padding-top: $espacio-inicial / 2;
  padding-bottom: $espacio-inicial / 2;
}
.blog-nombre{
  color: $front-nombre-autor-color;
  font-size: 10vh;
  text-transform: capitalize;
  text-shadow: 0.3vh 0.2vh 0.1vh $color-negro;
  margin-bottom: 0;
  @include media-query($content-block){
    margin-top: 30px;
  }
  @include media-query($content-block) {
    font-size: 5vw;  
    text-shadow: 0.1vw 0.5vw 0.1vw $color-negro;
  }
  @include media-query($on-small-tablet) {
    font-size: 7vw;  
    text-shadow: 0.1vw 0.5vw 0.1vw $color-negro;
  }
}

.btn-suscribete{
  background-color: $color-verde-limon;
  border: thin solid $color-gris-light;
  color: $color-negro;
  padding: 10px 25px;
  &:hover{
    background-color: darken($color-verde-limon, 5%);
    color: $color-negro;
    text-decoration: none;
  }
  &:visited{
    color: $color-negro;
  }
}

.blog-description{
  @include transparencia-bg-blanco(0.5);
  border-left: 0;
  color: $front-descripcion-color;
  font-size: 1.25em;
  line-height: normal;
  @include media-query($content-block) { //1100px
    font-size: 1em;
  }
  @include media-query($on-small-tablet) { //800px
    font-size: 3vw;
    max-width: 90%;
  }
  @include media-query($on-smartphone){ //480px
    font-size: 4vw;
    max-width: 100%;
  }
}
.scroll_top{
  display: block;
  color: $front-down-color;
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
  font-size: 2em;
  margin-left: -25px;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 50px;
  width: 50px;
  @include media-query($content-block){
    bottom: -5px;
  }
  &:visited{
    color: $front-down-color;
  }
  &:hover{
    -webkit-animation: none;
    animation: none;
    color: darken($front-down-color, 10%);
  }
}

//=======================================PUBLICIDAD HOME =========================================//

.home___publicidad{
  margin-bottom: 1.7em;
}