//======================CONTENEDOR MENU===================//
.caja___menu{
  background: $menu-bg;
  box-shadow: 0px 1px 2px -1px rgba(245,245,245,1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.caja__menu__inner{
 padding-top: 6.5px;
 padding-bottom: 6.5px;
}
//Titulo Blog
.titulo-blog{
  display: block;
  color: $menu-link-color;
  font-size: 1.5em;
  font-family: $font-family;
  font-weight: 400;
  transition: all 0.5s ease-out;
  &:hover{
    color: $menu-link-hover-color;
  }
}
@keyframes girar {
  from { transform: rotateY(0deg);    }
  to   { transform: rotateY(360deg); }
}
//Icono logo
.logo-link{
  color: $menu-link-hover-color;
  display: inline-block;
  &:hover{
    color: $menu-link-hover-color;
    .logo{
      animation-name: girar;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-duration: 3s;
      transform-style: preserve-3d;
    }
  }
  .logo-figure{
    display: block;
    text-align: left;
    height: 35px;
    width: 100%;
    perspective: 150px;  
    @include media-query($on-laptop){
      height: 30px;
    }
    .logo{
      display: block;
      margin: 0 auto;
      height: 100%;
    }
    .nombre{
      color: $menu-link-hover-color;
    }
  }
}
//Contenedor del logo & icono menu
.logo-iconoMenu{
   @include media-query($on-laptop){
    width: 100%;
  }
}
//Contenedor menú PC & Mobile
.menu-desktop-mobile{
  @include media-query($on-laptop){
    background: mix($menu-bg , $color-verde-limon);
    background: linear-gradient($menu-bg 0%, $menu-bg 70%, $color-verde-limon 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A452', endColorstr='#00d76c',GradientType=1 );
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.3s ease 0.7s;
    transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
    border-top: 6px solid #FFA12E;
    opacity: 0;
    padding: 0.5em;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 250px;
    z-index: 100;
  }
}
//Estilos para el Menú
.nav{
  @include media-query($on-laptop){
    display: block;
    border-top: 3px solid lighten($color-negro, 10%);
    margin-top: $espacio-inicial / 2;
    padding-top: $espacio-inicial / 2;
  }
  .nav-item{
    display: inline-block;
    + .nav-item{
      margin-left: 15px;
      @include media-query($on-laptop){
        margin-left: 0;
      }
    }
    //Item seleccionado
    &.nav-current{
      a{
        color: $menu-link-hover-color;
        &::before{
          color: $color-blanco;
        }
      }
    }

    @include media-query($on-laptop){
      display: block;
      border-bottom: thin dashed lighten($color-negro, 10%);
      &:not(:last-child){
        margin-bottom: 10px; 
      }
    }
    //Colocar iconos en el item menú
    &:nth-child(1) .nav-link{
      &::before{
        content: "\e901"; //Digital Ocean
      }
    }
    &:nth-child(2) .nav-link{
      &::before{
        content: "\e903"; //Contacto
      }
    }
    &:nth-child(3) .nav-link{
      &::before{
        content: "\e900"; //Sobre mí
      }
    }
    //Tamaño de iconos del menú
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3){
      .nav-link{
        &::before{
          font-size: 20px;
          margin-right: 5px;
          font-family: 'iconos' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 0;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    .nav-link{
      color: $menu-link-color;
      font-family: $base-font-family;
      font-weight: 500;
      font-size: $espacio-inicial / 2;
      line-height: normal;
      padding: 0.5em 0;
      text-transform: uppercase;
      &:hover{
        color: $menu-link-hover-color;
      }
      @include media-query($on-laptop){
        display: block;
        text-align: left;
      }
    }
  }
}
//Icono para cerrar menú
.icono-cerrar{
  display: none;
  @include media-query($on-laptop){
    display: block;
    color: $color-blanco;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 91;
  }
}
//Titulo del blog para móvil
.titulo-blog-mobile{
  display: none;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  position: relative;
  text-transform: uppercase;
  @include media-query($on-laptop){
    display: block;
    color: $color-blanco;
    z-index: 90;
    &:visited{
      color: $color-blanco;
    }
    &::before{
      content: "Blog";
      font-size: 15px;
      font-weight: 300;
      position: absolute;
      top: -15px;
      left: 0;
      text-transform: capitalize;
      height: 15px;
      width: 100%;
    }
  }
}
//Icono del menú
.icono-menu{
  display: none;
  background: $color-verde-limon;
  border-radius: 3px;
  border: thin solid $color-gris-light;
  color: $menu-icono-color;
  font-size: 1.4em;
  text-decoration: none !important;
  height: 42px;
  width: 42px;
  &:hover{
    color: $color-blanco;
  }
  @include media-query($on-laptop){
    display: flex;
  }
}

//===============================MENU MOBILE (ABIERTO & CERRADO)=================================//
@include media-query($on-laptop){
  body{
    &.nav-abierto .menu-desktop-mobile{
      opacity: 1;
      transform: translate3D(0, 0, 0);
      -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s ease, opacity 0s ease 0s;
      transition: transform 0.3s ease, opacity 0s ease 0s;
    }
    &.nav-cerrado .menu-desktop-mobile{
      transform: translate3D(250px, 0, 0);
      -webkit-transform: translate3D(250px, 0, 0);
      -ms-transform: translate3D(250px, 0, 0);
    }
  }
}