.no-cover{
  background: #D0DCDF;
}
 // Wrapper
.contenedor, .contenedor___post {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @include media-query($on-laptop) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  @include media-query($on-smartphone){
    max-width: 480px;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
.contenedor___post{
  @include media-query($content-block){
    width: 880px;
  }
  @include media-query($content-block){
    width: 90%;
  }
  @include media-query($on-laptop){
    width: 100%;
  }
}
.content{
  position:relative;
  z-index: 2;
}

.margen-superior{
  margin-top: 1em;
}
.margen-inferior{
  margin-bottom: 1em;
}
.relleno-superior{
  padding-top: 1em;
}
.relleno-inferior{
  padding-bottom: 1em;
}


