//Site footer
.site-footer {
  background-image: url('/assets/images/fondo_footer.png');
  position:relative;
  background-color: #383838;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0 0 0;
  z-index: 2;
}

.footer-col-wrapper {
  @extend %flexbox-flex-end;
  font-size: 15px;
  color: $grey-color;
}

.footer-col {
 // padding-left: $spacing-unit / 2;
  .footer-title{
    @extend %display-block;
    color: #fff;
    font-family: $lato-font-family;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: $spacing-unit / 2;
    width: 100%;
  }
  a{
    color: $brand-color;
  }
  a:visited{
    text-decoration: underline;
  }
}

.footer-col-1 {
    width: 35%;
}

.footer-col-2 {
    width: 20%;
}

.footer-col-3 {
  text-align: center;
  width: 45%;
  //Form Suscribete
  .form-subscribe{
    .subscribe-email{
      width: 80%;
      @include media-query($on-smartphone){
        width: 100%;
      }
    }
    button{
      margin: .5em auto;
    }
    .gh-subscribe-rss{
      
    }
  }
}

@include media-query($on-laptop) {
  .footer-col-1{
    width: 50%;
  }
  .footer-col-2{
    padding-left: 2%;
    width: 48%;
  }
  .footer-col-3 {
    border-top: thin dotted $color-name;
    margin-top: 1em;
    padding-top: 1em;
    width:100%;
  }
}
@include media-query($on-smartphone){
  .footer-col-2{
    border-top: thin dotted $color-name;
    margin-top: 1em;
    padding-top: 1em;
    padding-left: 0;
  }
  .footer-col-1,.footer-col-2,.footer-col-3{
    width:100%;
  }
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    .fa{
      width: 20px;
    }
}
// name app
.footer-name-app {
  @extend %display-block;
  color: $color-name-app;
  font-family:$monaco-font-family;
  font-size: 1.3em;
  margin-bottom: $spacing-unit / 2;
  @include media-query($on-smartphone) {
      font-size: 1.5em;
  }
}
.footer-name-app:before {
  color: #fff;
  content: '{';
  font-family: $monaco-font-family;
  text-shadow: none;
}
.footer-name-app:after {
  color: #fff;
  content: '}';
  font-family: $monaco-font-family;
  text-shadow: none;
}
//copy
.footer-copy{
  padding: .5em 0;
  width: 100%;
  .copy-parrafo{
    @extend %display-block;
    color: $text-white;
    text-align: center;
    font-size: 19px;
    margin-bottom: 0;
  }
  a{
      color: $text-white;
  }
   
}