//home
.front{
  background-color: rgba(0, 178, 89, 0.01);
  padding-bottom: 1em;
  background-attachment: fixed;
  border-bottom: thin solid #ACACAC;
  height: 100%;
  @include media-query($content-block) {
    height: auto;  
  }
}
.author-name{
  color: $color-name;
  text-align: center;
  font-size: 10vh;
  font-family:$lato-font-family;
  text-transform: capitalize;
  text-shadow: 0.3vh 0.2vh 0.1vh $bg-menu;
  padding-top: 0.5em;
  margin-bottom:0;
  @include media-query($content-block) {
    font-size: 5vw;  
    text-shadow: 0.1vw 0.5vw 0.1vw $bg-menu;
  }
  @include media-query($on-palm) {
    font-size: 7vw;  
    text-shadow: 0.1vw 0.5vw 0.1vw $bg-menu;
  }
}
.author-img{
  @extend %display-block;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right:auto;
  height: 18vh;
  width: 18vh;
 @include media-query($content-block) {
  margin-top: 2vw;
  margin-bottom: 2vw;
  height: 10vw;
  width: 10vw;
 }
 @include media-query($on-palm) {
  height: 15vw;
  width: 15vw;
 }
}

.blog-description{
  background-color: rgba(255,255,255, 1);
  border: thin solid rgba(0,0,0, 1);
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 75%;
  @include media-query($content-block) {
    font-size: 1em;
  }
  @include media-query($on-palm) {
    font-size: 3vw;
    max-width: 90%;
  }
  @include media-query($on-smartphone){
    max-width: 100%;
  }
}
.redes-list{
  @extend %flexbox-center;
  text-align: center;
  margin: 0.5em 0;
  .item{
    margin: 0 0.25em;
    height: $redes-height;
    width: $redes-width;
    @include media-query($content-block) {
      height: $redes-height - 0.5em;
      width: $redes-width - 0.5em;
    }
    @include media-query($on-palm) {
      height: $redes-height - 1em;
      width: $redes-width - 1em;
    }
    .link{
      @extend %display-block;
      color: #2E2B2B;
      font-size: $redes-font-size;
      text-decoration: none;
      margin-top: 0.25em;
      transition: .1s;
      @include media-query($content-block) {
        font-size: $redes-font-size;
        margin-top: 0.125em;
      }
      @include media-query($on-palm) {
        font-size: $redes-font-size - 0.5em;
        margin-top: 0.25em;
      }
      &:hover{
        font-size: $redes-font-size + 1em;
        margin-top: 0;
        @include media-query($content-block) {
          font-size: $redes-font-size + 0.5em;
          margin-top: 0;
        }
        @include media-query($on-palm) {
          font-size: $redes-font-size;
          margin-top: 0;
        }
      }
      &.facebook:hover{
        color: $facebook;
      }
      &.twitter:hover{
        color: $twitter;
      }
      &.youtube:hover{
        color: $youtube;
      }
      &.github:hover{
        color: $github;
      }
      &.google-plus:hover{
        color: $google-plus;
      }
    }
  }
}
.languages-code{
  @extend %display-block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  height: auto
}

//CONTENT LOOP
.loop__content{
  background-color: transparent;
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  @include media-query($on-smartphone){
    max-width: 480px;
  }
}
.loop__articles {
  @extend %flexbox-space-between;
  list-style: none;
  width: 100%;
  > .item-article {
    &:first-child{
      width: 100%;
    }
    position: relative;
    display: inline-block;
    margin: .5em;
    overflow: hidden;
    vertical-align: top;
    width: 47.5%;
    @include media-query($on-laptop){
      width: 47%;
    }
    @include media-query(700px) {
      width: 100%;
    }
  }
}
.primer-articulo{
  border: thin solid $color-name;
  background-size: cover;
  background-position: center center;
  .item-article-title, .item-article-description, .item-article-meta{
    padding: 0 10px;
  }
  .item-article-title{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    .item-article-link{
      color: #151C20;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);

      &:hover{
        color: #364954 !important;
      }
    }
  }
  .item-article-description{
    color: #28343E;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 700;
    text-shadow: .5px .5px 0px rgba(255, 255, 255, 1);
    margin: 15px 15px 50px 15px;
    @include media-query($on-smartphone) {
      margin: 7px 7px 25px 7px;
    }
  }
  .item-article-meta{
    margin-left: 15px;
    margin-right: 15px;
  }
}

//No First Post Styles
.no-first{
  background: $text-white;
}
.item-article-header{
  border-bottom:3px solid $color-name;
}
.item-article-image{
  height: auto;
  width: 100%;
}
.item-article-title{
  margin-top: 15px;
  .item-article-link{
    @extend %display-block;
    color: #151C20;
    line-height: 42px;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
      color: $color-name !important;
    }
    &:visited{
      color: #151C20;
    }
  }
}
.item-article-meta {
  @extend %display-block;
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 15px;
  img{
    border-radius: 50%;
    margin-top: -5px;
    height: 24px;
    width: 24px;
  }
  small{
    color: #11161A;
  }
  .post-date{
    color: #161F21;
  }
}
.item-article-title, .item-article-meta{
  padding-left: 15px;
  padding-right: 15px;
  @include media-query($on-smartphone) {
    padding-left: 7px;
    padding-right: 7px;
  }
}
.item-article-description{
  padding: 15px 15px 15px 15px;
  margin-bottom: 50px;
  @include media-query($on-smartphone) {
    padding: 7px 7px 10px 7px;
  }
}
.item-article-footer{
  position: absolute;
  bottom: 0;
  height: 49px;
  width: 100%;
}

//Paginación
.pagination{
  @extend %flexbox-center;
  -webkit-align-items: center;
  align-items: center;
  margin: 1em auto;
}
.page-number{
  font-size: 14px;
}
.newer-posts, .older-posts{
  margin: 0 .5em;
  padding: .5em .7em;
  font-size: 14px;
}
.btn-pagination-active{
  background: #DBDBDB;
  border: 1px solid #161F21;
  color: #161F21;
  &:hover{
    color: #202C2F;
  }
}
.btn-pagination-disabled{
  border: 1px solid #C2C1C1;
  cursor: default;
}

