//=================================CONTENEDOR ARTICULOS==============================//
.___articulos___{
  @extend %flexbox-space-between-wrap;
  background-color: transparent;
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  @include media-query($on-tablet) { //700px
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-query($on-smartphone){
    max-width: 480px;
  }
  .articulo__item {
    font-family: $lato-font-family;
    position: relative;
    display: inline-block;
    margin: .5em;
    width: 47%;
    word-wrap: break-word;
    @include media-query($on-tablet) { //700px
      margin: 0 0 1.5em 0;
      width: 100%;
    }
   }
}
//============================Fondo para los ítems excepto el primero===========================//
.articulo__item + .articulo__item{
  border: thin solid darken($bg-article, 15%);
}
//==========================================PRIMER POST ===============================//
.articulo__item.first-post{
  border: thin solid $color-theme;
  background: no-repeat center center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  width: 100%;
  @include media-query($on-tablet) { //700px
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 104.5%;
  }
  @include media-query($on-small-tablet){
  //600px
    min-width: 107%;
  }
  @include media-query($on-smartphone) { //480px
    min-width: 108%;
  }
  &::before{
    background: rgba(255, 255, 255, .3);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &[data-tag]::after{
    background: #fefefe;
    border: 2px solid $bg-boton;
    color: $text-color;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    content: attr(data-tag);
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .articulo-item-titulo, .articulo-item-extracto, .articulo-item-meta{
    position: relative; //Sirve para que se coloquen en la primera capa
  }
  .articulo-item-titulo, .articulo-item-meta{
    padding-left: 0;
    padding-right: 0;
  }
  .articulo-item-titulo{
    margin-bottom: $spacing-unit / 2;
    @include media-query($on-small-laptop){
    //800px
      
    }
    @include media-query($on-tablet) { //700px
      margin-left: 0;
      margin-right: 0;
    }
    &::before{
      content: "";
      background: transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      bottom: 0;
    }
    .articulo-item-vinculo{
      color: #151C20;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
      &:hover{
        color: #364954;
      }
    }
  }
  .articulo-item-extracto{
    background: rgba(255,255,255,.7);
    color: $text-color;
    font-size: 1.05em;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0 0 40px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    @include media-query($content-pc){
    //1000px
    }
    @include media-query($on-laptop){
    //900px
      margin-bottom: 35px;
    }
    @include media-query($on-small-laptop){
    //800px
      margin-bottom: 30px;
    }
    @include media-query($on-tablet) { //700px
      font-size: 0.9em;
      letter-spacing: 1px;
      margin: 0 0 25px 0;
    }
    @include media-query($on-small-tablet){
    //600px
    }
    @include media-query($on-smartphone) { //480px
      
    }
  }
}

//==========================================ARTICULOS ITEM===============================//
.articulo-item-header{
  @extend %margen-inferior; //15px
}
.articulo-item-imagen{
  height: auto;
  width: 100%;
}
.articulo-item-titulo, .articulo-item-meta{
  @extend %margen-inferior; // 15px
  padding-left: 15px;
  padding-right: 15px;
  @include media-query($on-smartphone) {
    padding-left: 7px;
    padding-right: 7px;
  }
}
.articulo-item-comentarios, .articulo-item-extracto{
  font-size: 16px;
}
.articulo-item-titulo{
  margin-top: $spacing-unit / 2; //15px
  position: relative;
  &::before{
    display: block;
    background: $color-theme;
    content: "";
    height: 8px;
    width: 15%;
    position: absolute;
    bottom: -4px;
    @include media-query($on-laptop){
    //900px
      height: 6px;
    }
    @include media-query($on-small-laptop){
    //800px
      bottom: -2px;
      height: 4px;
    }
    @include media-query($on-tablet){
    //700px
      bottom: 0;
      height: 3px;
    }
  }
  .articulo-item-vinculo{
    @extend %display-block;
    color: $color-article-item;
    cursor: pointer;
    text-transform: uppercase;
    transition: .200s;
    &:hover{
      text-decoration: none;
      color: $color-theme;
    }
  }
}
.articulo-item-meta {
  @extend %display-block;
  font-size: $small-font-size;
  img{
    border-radius: 50%;
    margin-top: $spacing-unit - 35;
    height: 24px;
    width: 24px;
  }
  a{
    color: $text-color;
    &:hover{
      text-decoration: underline;
    }
  }
  time{
    border-left: thin solid $grey-color-light;
    margin-left: $spacing-unit / 3;
    padding-left: $spacing-unit / 3;
  }
}
.cantidad-comentarios{
  display: block;
  margin-top: $spacing-unit / 3;
}
.articulo-item-extracto{
  line-height: 1.33em;
  padding: 0 15px 15px 15px;
  margin-bottom: ($spacing-unit / 2) * 3.333;
  @include media-query($on-smartphone) {
    padding: 7px 7px 10px 7px;
  }
}
.articulo-item-footer{
  position: absolute;
  bottom: 0;
  height: 43px;
  width: 100%;
}