.caja___menu{
  background: rgba(35, 34, 45, 0.7);
  box-shadow: 0px 1px 2px -1px rgba(245,245,245,1);
}
.caja___menu.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: none;
}
.caja__menu__inner{
 @extend %flexbox-space-between;
 padding-top: 6.5px;
 padding-bottom: 6.5px;
}

//icono logo
.figure-logo{
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  max-height: 50px;
  width: auto;
  @include media-query($on-laptop){
    max-height: 40px;
    min-width: 56px;
  }
  a{
    display: block;
    height: 100%;
    width: 100%;
    img{
      height: 100%;
      @include media-query($on-laptop){
        height: 40px;
      }
    }
  }
}
//estilos para el menú web desktop
.main_nav{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.nav, .nav-iconos{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 0;
  .nav-item{
    display: inline-block;
    &:not(:last-child){
      margin-right: 15px;
    }
    .nav-link{
      display: inline-block;
    }
  }
}
//Estilos para el Menu main
.nav{
  margin-top: -4px;
  @include media-query($on-laptop){
    display: none;
  }
  .nav-item{
    .nav-link{
      border-top: 6px solid transparent;
      font-family: $lato-font-family;
      font-size: 18px;
      font-weight: 400;
      padding: .5em 0;
      text-transform: uppercase;
      &:hover{
        border-top: 6px solid $color-theme;
        text-decoration: none;
      }
    }
  }
}
.nav-link-active{
  @extend %display-block;
  border-top: 6px solid transparent;
  color: $text-white;
  font-family: $lato-font-family;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: .5em 0;
  position: relative;
  &::before{
    background: $color-theme;
    content: "";
    position: absolute;
    top:-6px;
    height: 6px;
    width: 100%;
  }
}
//Estilos para nav-iconos
.nav-iconos{
  .nav-item{
    &:not(:last-child){
      display: none;
      @include media-query($on-laptop){
      display: block;
      }
    }
    &:last-child{
      margin-left: 15px;
      @include media-query($on-laptop){
        margin-left: 0;
        margin-right: 15px;
      }
    }
    .nav-link{
      text-align: center;
      vertical-align: middle;
      padding: 2px 5px 5px 5px;
      height: 34px;
      width: 34px;
    }
  }
}
//estilos para el menú
.caja_iconos{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  background: transparent;
  .icon-buscador{
    color: $text-white;
    font-size: 1.1em;
    text-decoration: none;
    transition: 0s;
    
  }
}
//icono menú
.icon-menu{
  background: lighten($bg-menu, 10%);
  border: 0;
  border-radius: 3px;
  display: none;
  position: relative;
  width: 42px;
  height: 37px;
  padding: 10px;
  cursor: pointer;
  @include media-query($on-laptop){
    display: block;
  }
}
.icon-menu .ico{
  @extend %display-block;
  position: absolute;
  top: 17px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: rgba(0, 140, 70, 1);
}
.icon-menu .ico:before, .icon-menu .ico:after{
  @extend %display-block;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 140, 70, 1);
}
.icon-menu .ico:before{
  top: -7px;
}
.icon-menu .ico:after{
  bottom: -7px
}
//fin icono menú

//============= estilos menú móvil
.menu___mobile{
  background:$bg-menu;
  transition: .500s;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  position: fixed;
  right: 0;
  top:0;
  height: 100%;
  width: 350px;
  z-index: 999999999;
  @media screen and (min-width: $on-laptop){
    display: none !important;
  }
  @include media-query($on-small-tablet){
    background: rgba(35,34,45,.95);
    width: 75%;
  }
  //ESTILOS PARA SMARTPHONE DE 320PX POR 240PX
  @include media-query($on-smartphone){
    overflow-x: scroll;
  }

  .icon-cerrar{
    color: $text-white;
    position: absolute;
    top:16px;
    right: 24px;
    text-decoration: none;
    font-size: 2.5em;
  }
  .logo-menu-mobile{
    @extend %display-block;
  	margin: 0 auto 20px auto;
    max-height: 80px;
    @include media-query($on-smartphone){
      max-height: 45px;
    }
  }
}
//Menu mobile
.nav__mobile{
	 margin-top:10px;
  .nav-item{
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    .nav-link{
      @extend %display-block;
      color: $text-white;
      padding: 1em 1em;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 700;
      &:hover{
        background: #fff;
        color: #2A2A2A;
      }
    }
  }
}

//Active menú móvil
.active-mobile{
  background: rgba(42,42,42, .2) !important;
  border-radius: 3px;
  box-shadow: -1px -1px 6px .5px rgba(255, 255, 255, 0.75);
  border: thin solid #BFBFBF;
  color: $text-white !important;
  text-decoration: none;
}