.contenedor___post{
  @extend %flexbox-space-between;
}
.post{
    width: 66%;
    @include media-query($content-block){
      width: 100%;
    }
}
//==========================ASIDE============================//
.widget-content{
  -webkit-align-self: baseline;
  align-self: baseline;
  border: thin solid #CECBCB;
  padding-left: 5px;
  padding-right:5px;
  padding-bottom:5px;
  width: 32%;
  @include media-query($content-block){
    display: none;
  }
}
.widget{
  margin-left: auto;
  margin-right: auto;
  &:not(:last-child){
    margin-bottom: 1em;
  }
}
//==========================TITULO PRINCIPAL============================//
.post-titulo {
    margin-top:  -10px;
    margin-bottom: 0;
}
//==========================SECCIÓN META============================//
.post-meta{
  @extend %margen-inferior;
}
//==========================LISTA TAGS============================//
.post-lista-tags{
  display: inline;
  margin-bottom: 0;
  li{
    display: inline-block;
    a{
      display: block;
      background: #EAE7E7;
      border: thin solid #CFCECE;
      border-radius: 15px;
      color: $text-color;
      font-size: .8em;
      padding: .1em .5em;
      margin-top: .5em;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
//==========================POST CONTENT============================//
.post_contenido{
margin-bottom: $spacing-unit / 2;
word-wrap: break-word;
//estilo iframe de codepen.io
div iframe {margin-bottom: 1em;}

  hr{
    background: transparent;
    display: block;
    border-width:0;
    line-height: 0;
    position: relative;
    padding: 0;
    text-rendering: geometricPrecision;
    margin: 2em 0;
    height: 1px;
    width: 100%;
    &::before{
      display: block;
      color: $color-theme;   
      content: ". . .";
      font-size: 3em;
      line-height: 0;
      margin-left: -28px;
      position: absolute;
      text-align: center;
      left: 50%;
      top: -18px;
      height: 36px;
      width: 56px;
    }
  }
  //link
  a{
    text-decoration: underline;
    font-weight: 700;
  }
  //estilo para listas
  ol, ul{
    padding-left: 2.5em;
    li {
      margin-bottom: 10px;
      > ul, ol{
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        li:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  ol{
    list-style-type: decimal-leading-zero;
    li > ol{
      list-style-type: decimal-leading-zero;
    }
  }
  ul{
    list-style-type: disc;
    li > ul{
      
      list-style-type: circle;
    }
  }
}

//==========================TITULO COMPARTIR ADDTHIS============================//
.titulo-compartir{
  margin-top: $base-font-size - 3px ;
}
//==========================FOOTER DEL POST============================//
.post-footer {
    position: relative;
    margin: 3em 0 2em 0;
    padding: 3em 0 0 0;
    border-top: 1px solid $grey-color-light;
}
.autor-imagen {
    background: #F4F4F4;
    border:thin solid $grey-color;
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding: 6px;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 2px 2px;
    .img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
  }
}
.autor{
  text-align: center;
  margin-bottom: 2em;
}
.autor-nombre{
  display: inline-block;
}
.autor-bio, .autor-mas-post{
  font-size: $base-font-size - 3px;
  line-height: normal;
  margin-bottom: 0;
}
.autor-lista-info {
    @extend %display-block;
    padding: 0;
    list-style: none;
    font-size: 1em;
    line-height: 1;
    font-style: italic;
    color: #3C3D34;
    li{
      display: inline-block;
      margin-top: 10px;
      &:not(:last-child){
        margin-right: 10px;
      }
      a, span{
        color: lighten($grey-color, 20%) ;
        font-size: $small-font-size - 2px;
      }
      a:hover{
        color: lighten($grey-color, 2%) ;
      }
    }
}
//==========================FORMULARIO DE SUSCRIPCIÓN============================//
.gh-subscribe{
  background: lighten($color-theme, 65%);
  border: lighten($color-theme, 55%) 1px solid;
  padding: 2.5em;
  margin-top: 2.5em;
  text-align: center;
  border-radius: 5px;
  @include media-query($on-tablet){
  //700px
    padding: 2em;
  }
  @include media-query($on-small-tablet){
  //600px
    padding: 1.5em;
  }
  @include media-query($on-smartphone){
  //480px
    padding: 1em;
  }
  .gh-subscribe-title{
    font-size: 1.33em;
    margin-bottom: 0;
  }
  p{
    font-size: 0.8em;
    text-align: center;
  }
  form{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }
  .form-group{
    flex-grow: 1;
    max-width: 300px;
  }
  .subscribe-email{
    border-radius: 4px 0 0 4px;
  }
  button{
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    @include media-query($on-smartphone){
    //480px
      padding: 6px;
    }
  }
  .gh-subscribe-rss{
      font-size: 0.7em;
      line-height: 1.4em;
  }
}

//==========================PAGINACIÓN DE POST============================//
.read-next{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin: 1em 0;
  @include media-query($on-tablet){
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.read-next-story{
  background: no-repeat center center;
  background-size: cover;
  color: $text-color;
  overflow: hidden;
  padding: .5em;
  width: 49.5%;
  &:visited, &:hover{
    color: $text-color;
  }
  @include media-query($on-tablet){//700px
    min-height: 200px;
    width: 100%;
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }
  &:hover .read-next-title{
    color: lighten($color-article, 10%);
  }
}
.read-next-title, .btn-read-next, .read-next-parrafo{
  position: relative;
  z-index: 1;
}
.read-next-title{
  color: darken($color-article, 50%);
  margin-top: 40px;
  font-weight: 900;
  padding: 0 .5em;
}
//
.btn-read-next{
  border: thin solid #8D8C8C;
  border-radius: 5px;
  display: block;
  font-size: $small-font-size - 2;
  line-height: normal;
  text-transform: uppercase;
  margin: 10px auto 0 auto;
  padding: .2em .4em;
  z-index: 1;
}
.read-next-parrafo{
  background: rgba(255,255,255, .6);
  text-align: center;
  padding: .5em;
  margin-top: 15px;
  z-index: 1;
}


.read-next-story.next, .read-next-story.prev{
  position: relative;
  text-decoration: none;
  &:hover::after{
    background: rgba(0,0,0,.3);
  }
  &::after{
    background: rgba(0,0,0,.1);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:hover::before{
    background: $text-white;
    color: rgba(0,0,0, .8);
  }
  &::before{
    background: rgba(0,0,0, .8);
    border: thin solid $color-theme;
    border-radius: 5px;
    color: $text-white;
    line-height: normal;
    font-size: $small-font-size - 2;
    font-weight: 300;
    text-transform: uppercase;
    padding: .2em .4em;
    margin-left: 0;
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 1;
  }
}

.read-next-story.next.next::before{
  content: "« Siguiente";
  margin-left: -47.5px;
}
.read-next-story.prev::before{
  content: "Anterior »";
  margin-left: -45px;
}
.read-next-story.disabled{
  background: rgba(0,0,0, .2);
  border: thin solid $grey-color-light;
}