  .widget-content{
    -webkit-align-self: baseline;
    align-self: baseline;
    border: thin solid #CECBCB;
    margin-left: 2%;
    padding-left: 5px;
    padding-top: 5px;
    padding-right:5px;
    width: 30%;
    @include media-query($content-block){
      margin-left: 0;
      width: 100%;
    }
    .widget{
      margin-bottom: 1em;
    }
  }

// post & page
.page-content, .content{
  padding-top: 1em;
  padding-bottom: 1em;
  position:relative;
  z-index: 2;
}
.page-cover{
  margin-bottom: 15px;
}

.post-header {
  margin-bottom: $spacing-unit;
}
.post-meta{
  .ion-calendar{
    color:#1091FF;
  }
  .ion-pricetags{
    color: $color-name;
  }
  .post-tag a{
    display: inline-block;
    background: transparent;
    border: thin solid #646464;
    border-radius: 15px;
    color: $text-color;
    padding: .1em .5em;
    margin-top: .5em;
  }
}
.post-title {
    font: 3em $base-font-family;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
      font-size: 36px;
      line-height: 38px;
    }
    @include media-query($on-smartphone) {
      font-size: 30px;
      line-height: 34px;
    }
}

.post-footer {
    position: relative;
    margin: 3em 0 2em 0;
    padding: 4rem 0 0 0;
    border-top: #454545 1px solid;
    text-align: center;
}
.author-image {
    background: #F4F4F4;
    border:thin solid #282828;
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding: 6px;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 2px 2px;
}
.author-image .img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.author-links {
    padding: 0;
    margin: 1em 0;
    list-style: none;
    font-size: 1em;
    line-height: 1;
    font-style: italic;
    color: #3C3D34;
    li{
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
    a{
      color: #3C3D34;
    }
}
.gh-subscribe{
  border: 2px solid;
  padding: 1em .5em;
  margin-top: 1em;
}

//Formulario de suscripción
.form-subscribe{
  .form-group input{
    padding: .5em;
    width: 40%;
    @include media-query($on-laptop){
      width: 80%;
    }
    @include media-query($on-smartphone){
      width: 100%;
    }
  }
  button{
    border: thin solid #464444;
    margin: .5em auto;
  }
}
//paginación del post
.read-next{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 1em 0;
  position: relative;
  @include media-query(700px){
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.next::before{
    background: #3D3C3C;
  border-right: 4px solid rgba(0,151,75, .7);
  border-bottom: 4px solid rgba(0,151,75, .7);
  color: $text-white;
  content: "« Siguiente";
  padding: .1em .3em;
  position: absolute;
  top: 4px;
  left: 4px;

}
.prev::after{
  background: #3D3C3C;
  border-left: 4px solid rgba(0,151,75, .7);
  border-bottom: 4px solid rgba(0,151,75, .7);
  color: $text-white;
  content: "Anterior »";
  padding: .1em .3em;
  position: absolute;
  top: 4px;
  right: 4px;

}
.read-next-story{
  background: no-repeat center center;
  background-size: cover;
  border: 4px solid rgba(0,151,75, .7);
  color: inherit !important;
  overflow: hidden;
  padding: .5em;
  width: 48%;
  @include media-query(700px){
    min-height: 140px;
    width: 100%;
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }
  &:not(.prev, .next){
    cursor: pointer;
  }
  &:hover{
    border: 4px solid rgba(0,151,75, 1);
    text-decoration: none !important;
  }
  .title-read-next{
    color: initial;
    margin-top: 25px;
    font-weight: 900;
    padding: 0 .5em;
  }
  .parrafo-read-next{
    background: rgba(255,255,255, .6);
    color: $text-color;
    font-size: 15px;
    padding: .5em;
  }
  //
  .btn-read-next{
    border: thin solid #8D8C8C;
    border-radius: 3px;
    display: block;
    margin: 20px auto 0 auto;
  }
  .parrafo-next, .parrafo-prev{
    background: rgba(255,255,255, .6);
    text-align: center;
    padding: .5em;
    margin-top: 15px;
  }
}
.post-content {
margin-bottom: $spacing-unit;
word-wrap: break-word;
h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
        font-size: 28px;
    }
    @include media-query($on-smartphone) {
        font-size: 25px;
    }
}
h3 {
    font-size: 26px;
    margin-bottom: 15px;
    @include media-query($on-laptop) {
        font-size: 22px;
    }
    @include media-query($on-smartphone) {
        font-size: 20px;
    }
}
h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
        font-size: 18px;
    }
    @include media-query($on-smartphone) {
        font-size: 17px;
    }
}
p{
  line-height: 30px;
}
//estilo iframe de codepen.io
div iframe {margin-bottom: 1em;}

hr{
  display: inline-block;
  border-width:0;
  position: relative;
  padding: 15px 0;
  width: 100%;
  &::before{
    color: $color-name;   
    content: "...";
    font-size: 3em;
    letter-spacing: 5px;
    text-align: center;
    margin-left: -26.5px;
    position: absolute;
    left: 50%;
    top: -.7em;
  }
}
//link
.link{
  text-decoration: underline;
  font-weight: 600;
  &:hover{
    text-decoration: underline;
  }
}
//estilo para listas
ol, ul{
  padding-left: 2.5em;
  @include media-query($on-smartphone) {
    overflow-x: scroll;
  }
  li {
    margin-bottom: 10px;
    > ul{
      padding-left: 1em;
    }
  }
}
ol{
  list-style-type: decimal-leading-zero;
  li > ul{
    list-style-type: lower-latin;;
  }
}
ul{
  list-style-type: disc;
  li > ul{
    list-style-type: circle;
  }
}
}

//stacks Luis Rene Mas Mas
.stacks{
  .stack-lista{
    @extend %flexbox-space-between;
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      width: 33%;
    }
  }
}

//página archive
.contenedor-archivos{
  display: block;
  min-height: 300px;
  width: 100%;
  .box-buscador{
    position: relative;
    font-size: 18px;
    label {
      position: absolute;
      left: 13px;
      top: 7px;
    }
    .campo-buscador{
      font-size: 1.5em;
      border: thin solid #004B97;
      border-radius: 20px;
      padding: 0 1.5em;
      height: 40px;
      width: 70%;
      margin-bottom: 10px;
      @include media-query($on-smartphone){
        width: 100%;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .box-resultados{
    margin-top: 1.5em;
    @include media-query($on-smartphone){
      margin-top: 0;
    }
    .mensaje-resulados{
      margin-bottom: 1.5em;
      margin-top: -1.5em;
      font-size: 12px;
      @include media-query($on-smartphone){
        margin-top: 0;
      }
    }
  }
}
.lista-articulos{
  position: relative;
  padding-left: 1.5em !important;
  list-style-type: none !important;
}
.search-items{
  a{
    display: inline;
  }
  &::before{
    display: inline-block;
    position: absolute;
    left: 0;
    color: $text-color;
    content: "\f401";
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: .4em;
    margin-right: .5em;
  }
}
.mensaje-resulados{
  margin-left: -1.5em;
}
