@charset "UTF-8";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

p,
div,
header,
main,
article,
section,
aside,
footer,
figure,
hgroup,
nav {
  display: block;
}

::-moz-selection {
  color: #171717;
  background: #00A653;
}

::selection {
  color: #171717;
  background: #00A653;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: 'monacoregular';
  src: url("../fonts/monaco-webfont.eot");
  src: url("../fonts/monaco-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/monaco-webfont.woff") format("woff"), url("../fonts/monaco-webfont.ttf") format("truetype"), url("../fonts/monaco-webfont.svg#monacoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 400 19px "Noto Sans", Helvetica, Arial, sans-serif;
  color: #111;
  -webkit-text-size-adjust: 100%;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-size: 18px;
}

figure a > img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 16.625px;
}

ul {
  list-style-type: none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}

address {
  display: inline;
  font-style: inherit;
}

a {
  color: #00b058;
  cursor: pointer;
  -webkit-transition: 1s;
  text-decoration: none;
  transition: .500s;
}

a:visited {
  color: #00b058;
  text-decoration: underline;
}

a:hover {
  color: #00a150;
  text-decoration: underline;
}

blockquote {
  color: #5c5c5c;
  border-radius: 0 5px 5px 0;
  border-left: 4px solid #00974B;
  border-top: thin solid #e8e8e8;
  border-right: thin solid #e8e8e8;
  border-bottom: thin solid #e8e8e8;
  padding: 15px;
  margin-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: normal;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

pre,
code {
  font-family: "monacoregular";
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  overflow-x: auto;
}

pre > code {
  background-color: transparent;
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.nav-link-active,
.icon-menu .ico,
.icon-menu .ico:before,
.icon-menu .ico:after,
.menu___mobile .logo-menu-mobile,
.nav__mobile .nav-item .nav-link,
.redes-list .item .link,
.author-img,
.item-article-title .item-article-link,
.item-article-meta,
.footer-col .footer-title,
.footer-name-app,
.footer-copy .copy-parrafo {
  display: block;
}

.redes-list,
.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-col-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contenedor__nav,
.loop__articles,
.stacks .stack-lista {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-cover {
  background: #D0DCDF;
}

.contenedor,
.contenedor___post {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.content {
  position: relative;
  z-index: 2;
}

.margen-superior {
  margin-top: 1em;
}

.margen-inferior {
  margin-bottom: 1em;
}

.relleno-superior {
  padding-top: 1em;
}

.relleno-inferior {
  padding-bottom: 1em;
}

.home-header {
  background-attachment: fixed;
}

.caja___menu {
  background: #23222d;
}

.contenedor__nav {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.figure-logo {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 80px;
}

.figure-logo a {
  display: block;
  height: 100%;
  width: 100%;
}

.figure-logo a img {
  max-height: 100%;
  max-width: 100%;
}

.main_nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.nav,
.nav-iconos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.nav .nav-item,
.nav-iconos .nav-item {
  display: inline-block;
}

.nav .nav-item:not(:last-child),
.nav-iconos .nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav .nav-item .nav-link,
.nav-iconos .nav-item .nav-link {
  display: inline-block;
}

.nav {
  margin-top: -4px;
}

.nav .nav-item .nav-link {
  border-top: 6px solid transparent;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: .5em 0;
  text-transform: uppercase;
}

.nav .nav-item .nav-link:hover {
  border-top: 6px solid #00974B;
  text-decoration: none;
}

.nav-link-active {
  border-top: 6px solid transparent;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: .5em 0;
  position: relative;
}

.nav-link-active::before {
  background: #00974B;
  content: "";
  position: absolute;
  top: -6px;
  height: 6px;
  width: 100%;
}

.nav-iconos .nav-item:not(:last-child) {
  display: none;
}

.nav-iconos .nav-item:last-child {
  margin-left: 15px;
}

.nav-iconos .nav-item .nav-link {
  text-align: center;
  vertical-align: middle;
  padding: 2px 5px 5px 5px;
  height: 34px;
  width: 34px;
}

.caja_iconos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
}

.caja_iconos .icon-buscador {
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  transition: 0s;
}

.icon-menu {
  background: #3a384a;
  border: 0;
  border-radius: 3px;
  display: none;
  position: relative;
  width: 42px;
  height: 37px;
  padding: 10px;
  cursor: pointer;
}

.icon-menu .ico {
  position: absolute;
  top: 17px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: #008c46;
}

.icon-menu .ico:before,
.icon-menu .ico:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #008c46;
}

.icon-menu .ico:before {
  top: -7px;
}

.icon-menu .ico:after {
  bottom: -7px;
}

.menu___mobile {
  background: #23222d;
  transition: .500s;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  z-index: 999999999;
}

.menu___mobile .icon-cerrar {
  color: #fff;
  position: absolute;
  top: 16px;
  right: 24px;
  text-decoration: none;
  font-size: 2.5em;
}

.menu___mobile .logo-menu-mobile {
  margin: 0 auto 20px auto;
  height: 80px;
}

.nav__mobile {
  margin-top: 10px;
}

.nav__mobile .nav-item {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.nav__mobile .nav-item .nav-link {
  color: #fff;
  padding: 1em 1em;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
}

.nav__mobile .nav-item .nav-link:hover {
  background: #fff;
  color: #2A2A2A;
}

.active-mobile {
  background: rgba(42, 42, 42, 0.2) !important;
  border-radius: 3px;
  box-shadow: -1px -1px 6px 0.5px rgba(255, 255, 255, 0.75);
  border: thin solid #BFBFBF;
  color: #fff !important;
  text-decoration: none;
}

.front {
  background-color: rgba(0, 178, 89, 0.01);
  border-bottom: thin solid #ACACAC;
}

.author-name {
  color: #00974B;
  text-align: center;
  font-size: 10vh;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  text-shadow: 0.3vh 0.2vh 0.1vh #23222d;
  margin-bottom: 1vh;
}

.redes-list {
  text-align: center;
  margin-bottom: 0.5em;
}

.redes-list .item {
  margin: 0 0.25em;
  height: 3em;
  width: 3em;
}

.redes-list .item .link {
  color: #2E2B2B;
  font-size: 2em;
  text-decoration: none;
  margin-top: 0.25em;
  transition: .1s;
}

.redes-list .item .link:hover {
  font-size: 3em;
  margin-top: 0;
}

.redes-list .item .link.facebook:hover {
  color: #3864a3;
}

.redes-list .item .link.twitter:hover {
  color: #4391e8;
}

.redes-list .item .link.youtube:hover {
  color: #cc181e;
}

.redes-list .item .link.github:hover {
  color: #002F5E;
}

.redes-list .item .link.google-plus:hover {
  color: #db4437;
}

.author-img {
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
}

.blog-description {
  background-color: white;
  border: thin solid black;
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  max-width: 75%;
}

.code {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.code li {
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
}

.code li:first-child {
  margin-left: 0;
}

.code li:last-child {
  margin-right: 0;
}

.code li a {
  display: block;
}

.loop__content {
  background-color: transparent;
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
}

.loop__articles {
  list-style: none;
  width: 100%;
}

.loop__articles > .item-article {
  position: relative;
  display: inline-block;
  margin: .5em;
  overflow: hidden;
  vertical-align: top;
  width: 47.5%;
}

.loop__articles > .item-article:first-child {
  width: 100%;
}

.primer-articulo {
  border: thin solid #00974B;
  background-size: cover;
  background-position: center center;
}

.primer-articulo .item-article-title,
.primer-articulo .item-article-description,
.primer-articulo .item-article-meta {
  padding: 0 10px;
}

.primer-articulo .item-article-title {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

.primer-articulo .item-article-title .item-article-link {
  color: #151C20;
  text-shadow: 1px 1px 0px white;
}

.primer-articulo .item-article-title .item-article-link:hover {
  color: #364954 !important;
}

.primer-articulo .item-article-description {
  color: #28343E;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 0px white;
  margin: 15px 15px 50px 15px;
}

.primer-articulo .item-article-meta {
  margin-left: 15px;
  margin-right: 15px;
}

.no-first {
  background: #B5C7CC;
}

.item-article-header {
  border-bottom: 3px solid #00974B;
}

.item-article-image {
  height: auto;
  width: 100%;
}

.item-article-title {
  margin-top: 15px;
}

.item-article-title .item-article-link {
  color: #151C20;
  line-height: 42px;
  text-transform: uppercase;
}

.item-article-title .item-article-link:hover {
  text-decoration: none;
  color: #00974B !important;
}

.item-article-title .item-article-link:visited {
  color: #151C20;
}

.item-article-meta {
  font-size: 16.625px;
  color: #828282;
  margin-bottom: 15px;
}

.item-article-meta img {
  border-radius: 50%;
  margin-top: -5px;
  height: 24px;
  width: 24px;
}

.item-article-meta small {
  color: #11161A;
}

.item-article-meta .post-date {
  color: #161F21;
}

.item-article-title,
.item-article-meta {
  padding-left: 15px;
  padding-right: 15px;
}

.item-article-description {
  padding: 15px 15px 15px 15px;
  margin-bottom: 50px;
}

.item-article-footer {
  position: absolute;
  bottom: 0;
  height: 49px;
  width: 100%;
}

.pagination {
  -ms-flex-align: center;
  align-items: center;
  margin: 1em auto;
}

.page-number {
  font-size: 14px;
}

.newer-posts,
.older-posts {
  margin: 0 .5em;
  padding: .5em .7em;
  font-size: 14px;
}

.btn-pagination-active {
  background: #DBDBDB;
  border: 1px solid #161F21;
  color: #161F21;
}

.btn-pagination-active:hover {
  color: #202C2F;
}

.btn-pagination-disabled {
  border: 1px solid #C2C1C1;
  cursor: default;
}

.main-header {
  background-position: center center;
  background-size: cover;
  min-height: 350px;
}

.contenedor___post {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post {
  width: 66%;
}

.widget-content {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  border: thin solid #CECBCB;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  width: 32%;
}

.widget-content .widget {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.page-cover {
  margin-bottom: 15px;
}

.post-header {
  margin-bottom: 30px;
}

.post-meta .ion-calendar {
  color: #1091FF;
}

.post-meta .ion-pricetags {
  color: #00974B;
}

.post-meta .post-tag a {
  display: inline-block;
  background: transparent;
  border: thin solid #646464;
  border-radius: 15px;
  color: #111;
  padding: .1em .5em;
  margin-top: .5em;
}

.post-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
}

.post-footer {
  position: relative;
  margin: 3em 0 2em 0;
  padding: 4rem 0 0 0;
  border-top: #454545 1px solid;
  text-align: center;
}

.author-image {
  background: #F4F4F4;
  border: thin solid #282828;
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  padding: 6px;
  z-index: 2;
  box-shadow: #E7EEF2 0 0 2px 2px;
}

.author-image .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.author-links {
  padding: 0;
  margin: 1em 0;
  list-style: none;
  font-size: 1em;
  line-height: 1;
  font-style: italic;
  color: #3C3D34;
}

.author-links li:not(:last-child) {
  margin-bottom: 10px;
}

.author-links a {
  color: #3C3D34;
}

.gh-subscribe {
  border: 2px solid;
  padding: 1em .5em;
  margin-top: 1em;
}

.form-subscribe .form-group input {
  border: thin solid #00974B;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: .5em;
  width: 40%;
}

.form-subscribe .form-group input:focus {
  outline: none;
}

.form-subscribe button {
  background-color: rgba(22, 154, 104, 0.8);
  color: #fff;
  border: thin solid #464444;
  margin: .5em auto;
}

.read-next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1em 0;
}

.next,
.prev {
  position: relative;
}

.next::before {
  background: #3D3C3C;
  border-right: 4px solid rgba(0, 151, 75, 0.7);
  border-bottom: 4px solid rgba(0, 151, 75, 0.7);
  color: #fff;
  content: "« Siguiente";
  padding: .1em .3em;
  position: absolute;
  top: 0;
  left: 0;
}

.prev::after {
  background: #3D3C3C;
  border-left: 4px solid rgba(0, 151, 75, 0.7);
  border-bottom: 4px solid rgba(0, 151, 75, 0.7);
  color: #fff;
  content: "Anterior »";
  padding: .1em .3em;
  position: absolute;
  top: 0;
  right: 0;
}

.read-next-story {
  background: no-repeat center center;
  background-size: cover;
  border: 4px solid rgba(0, 151, 75, 0.7);
  color: inherit !important;
  overflow: hidden;
  padding: .5em;
  width: 48%;
}

.read-next-story:not(.prev):not(.next) {
  cursor: pointer;
}

.read-next-story:hover {
  border: 4px solid #00974b;
  text-decoration: none !important;
}

.read-next-story .title-read-next {
  color: initial;
  margin-top: 25px;
  font-weight: 900;
  padding: 0 .5em;
}

.read-next-story .parrafo-read-next {
  background: rgba(255, 255, 255, 0.6);
  color: #111;
  font-size: 15px;
  padding: .5em;
}

.read-next-story .btn-read-next {
  border: thin solid #8D8C8C;
  border-radius: 3px;
  display: block;
  margin: 20px auto 0 auto;
}

.read-next-story .parrafo-next,
.read-next-story .parrafo-prev {
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: .5em;
  margin-top: 15px;
}

.post-content {
  margin-bottom: 30px;
  word-wrap: break-word;
}

.post-content h2 {
  font-size: 32px;
}

.post-content h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.post-content h4 {
  font-size: 20px;
}

.post-content p {
  line-height: 30px;
}

.post-content div iframe {
  margin-bottom: 1em;
}

.post-content hr {
  display: inline-block;
  border-width: 0;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.post-content hr::before {
  color: #00974B;
  content: "...";
  font-size: 3em;
  letter-spacing: 5px;
  text-align: center;
  margin-left: -26.5px;
  position: absolute;
  left: 50%;
  top: -.7em;
}

.post-content a {
  text-decoration: underline;
  font-weight: 700;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content ol,
.post-content ul {
  padding-left: 2.5em;
}

.post-content ol li,
.post-content ul li {
  margin-bottom: 10px;
}

.post-content ol li > ul,
.post-content ul li > ul {
  padding-left: 1em;
}

.post-content ol {
  list-style-type: decimal-leading-zero;
}

.post-content ol li > ul {
  list-style-type: lower-latin;
}

.post-content ul {
  list-style-type: disc;
}

.post-content ul li > ul {
  list-style-type: circle;
}

.stacks .stack-lista {
  list-style-type: none;
  padding: 0;
}

.stacks .stack-lista li {
  display: inline-block;
  width: 33%;
}

.contenedor-archivos {
  display: block;
  min-height: 300px;
  width: 100%;
}

.contenedor-archivos .box-buscador {
  position: relative;
  font-size: 18px;
}

.contenedor-archivos .box-buscador label {
  position: absolute;
  left: 13px;
  top: 7px;
}

.contenedor-archivos .box-buscador .campo-buscador {
  font-size: 1.5em;
  border: thin solid #004B97;
  border-radius: 20px;
  padding: 0 1.5em;
  height: 40px;
  width: 70%;
  margin-bottom: 10px;
}

.contenedor-archivos .box-buscador .campo-buscador:focus {
  outline: none;
}

.contenedor-archivos .box-resultados {
  margin-top: 1.5em;
}

.contenedor-archivos .box-resultados .mensaje-resulados {
  margin-bottom: 1.5em;
  margin-top: -1.5em;
  font-size: 12px;
}

.lista-articulos {
  position: relative;
  padding-left: 1.5em !important;
  list-style-type: none !important;
}

.search-items a {
  display: inline;
}

.search-items::before {
  display: inline-block;
  position: absolute;
  left: 0;
  color: #111;
  content: "\f401";
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: .4em;
  margin-right: .5em;
}

.mensaje-resulados {
  margin-left: -1.5em;
}

.site-footer {
  background-image: url("/assets/images/fondo_footer.png");
  position: relative;
  background-color: #383838;
  border-top: 1px solid #e8e8e8;
  padding: 30px 0 0 0;
  z-index: 2;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
}

.footer-col .footer-title {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  width: 100%;
}

.footer-col a {
  color: #0059B3;
}

.footer-col a:visited {
  text-decoration: underline;
}

.footer-col-1 {
  width: 35%;
}

.footer-col-2 {
  width: 20%;
}

.footer-col-3 {
  text-align: center;
  width: 45%;
}

.footer-col-3 .form-subscribe .subscribe-email {
  width: 80%;
}

.footer-col-3 .form-subscribe button {
  margin: .5em auto;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.contact-list .fa,
.social-media-list .fa {
  width: 20px;
}

.footer-name-app {
  color: #0075ea;
  font-family: "monacoregular";
  font-size: 1.3em;
  margin-bottom: 15px;
}

.footer-name-app:before {
  color: #fff;
  content: '{';
  font-family: "monacoregular";
  text-shadow: none;
}

.footer-name-app:after {
  color: #fff;
  content: '}';
  font-family: "monacoregular";
  text-shadow: none;
}

.footer-copy {
  padding: .5em 0;
  width: 100%;
}

.footer-copy .copy-parrafo {
  color: #fff;
  text-align: center;
  font-size: 19px;
  margin-bottom: 0;
}

.footer-copy a {
  color: #fff;
}

@media screen and (min-width: 800px) {
  .menu___mobile {
    display: none !important;
  }
}

@media screen and (max-width: 1100px) {
  .contenedor___post {
    width: 880px;
  }

  .contenedor___post {
    width: 90%;
  }

  .author-name {
    font-size: 5vw;
    text-shadow: 0.1vw 0.5vw 0.1vw #23222d;
  }

  .redes-list .item {
    height: 2.5em;
    width: 2.5em;
  }

  .redes-list .item .link {
    font-size: 2em;
    margin-top: 0.125em;
  }

  .redes-list .item .link:hover {
    font-size: 2.5em;
    margin-top: 0;
  }

  .blog-description {
    font-size: 1em;
  }

  .post {
    width: 100%;
  }

  .widget-content {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .contenedor,
  .contenedor___post {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contenedor___post {
    width: 100%;
  }

  .figure-logo {
    width: 70px;
  }

  .nav {
    display: none;
  }

  .nav-iconos .nav-item:not(:last-child) {
    display: block;
  }

  .nav-iconos .nav-item:last-child {
    margin-left: 0;
    margin-right: 15px;
  }

  .icon-menu {
    display: block;
  }

  .loop__articles > .item-article {
    width: 47%;
  }

  .post-title {
    font-size: 36px;
    line-height: 38px;
  }

  .form-subscribe .form-group input {
    width: 80%;
  }

  .post-content h2 {
    font-size: 28px;
  }

  .post-content h3 {
    font-size: 22px;
  }

  .post-content h4 {
    font-size: 18px;
  }

  .footer-col-1 {
    width: 50%;
  }

  .footer-col-2 {
    padding-left: 2%;
    width: 48%;
  }

  .footer-col-3 {
    border-top: thin dotted #00974B;
    margin-top: 1em;
    padding-top: 1em;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .loop__articles > .item-article {
    width: 100%;
  }

  .read-next {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .read-next-story {
    min-height: 140px;
    width: 100%;
  }

  .read-next-story:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .menu___mobile {
    background: rgba(35, 34, 45, 0.95);
    width: 75%;
  }

  .author-name {
    font-size: 7vw;
    text-shadow: 0.1vw 0.5vw 0.1vw #23222d;
  }

  .redes-list .item {
    height: 2em;
    width: 2em;
  }

  .redes-list .item .link {
    font-size: 1.5em;
    margin-top: 0.25em;
  }

  .redes-list .item .link:hover {
    font-size: 2em;
    margin-top: 0;
  }

  .author-img {
    height: 50px;
    width: 50px;
  }

  .blog-description {
    font-size: 3vw;
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .contenedor,
  .contenedor___post {
    max-width: 480px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .menu___mobile {
    overflow-x: scroll;
  }

  .menu___mobile .logo-menu-mobile {
    height: 45px;
  }

  .blog-description {
    max-width: 100%;
  }

  .loop__content {
    max-width: 480px;
  }

  .primer-articulo .item-article-description {
    margin: 7px 7px 25px 7px;
  }

  .item-article-title,
  .item-article-meta {
    padding-left: 7px;
    padding-right: 7px;
  }

  .item-article-description {
    padding: 7px 7px 10px 7px;
  }

  .post-title {
    font-size: 30px;
    line-height: 34px;
  }

  .form-subscribe .form-group input {
    width: 100%;
  }

  .post-content h2 {
    font-size: 25px;
  }

  .post-content h3 {
    font-size: 20px;
  }

  .post-content h4 {
    font-size: 17px;
  }

  .post-content ol,
  .post-content ul {
    overflow-x: scroll;
  }

  .contenedor-archivos .box-buscador .campo-buscador {
    width: 100%;
  }

  .contenedor-archivos .box-resultados {
    margin-top: 0;
  }

  .contenedor-archivos .box-resultados .mensaje-resulados {
    margin-top: 0;
  }

  .footer-col-3 .form-subscribe .subscribe-email {
    width: 100%;
  }

  .footer-col-2 {
    border-top: thin dotted #00974B;
    margin-top: 1em;
    padding-top: 1em;
    padding-left: 0;
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 100%;
  }

  .footer-name-app {
    font-size: 1.5em;
  }
}