// Clearfix
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
//margin-bottom: 15px
%margen-inferior{
  margin-bottom: ($spacing-unit / 2);
}
//Display bloque
%display-block{
  display: block;
}
//flexbox
%flexbox-center{
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
}

%flexbox-flex-end{
display: -webkit-flex;
display: flex;
-webkit-justify-content: flex-end;
justify-content: flex-end;
-webkit-flex-wrap: wrap;
flex-wrap: wrap; 
}
%flexbox-space-between{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
%flexbox-space-around-wrap{
display: -webkit-flex;
display: flex;
-webkit-justify-content: space-around;
justify-content: space-around;
-webkit-flex-wrap: wrap;
flex-wrap: wrap; 
}